:host {
  --slds-c-card-sizing-border: 1px;
  --slds-c-card-body-spacing-blockend: 0;
  --slds-c-card-body-spacing-inline-end: 0;
  --slds-c-card-body-spacing-blockstart: 0;
}

.map {
  height: 500px;
}
